<div class="container spacer col-md-6 col-sm-12 col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading">New Etudiant</div>
    <div class="panel-body">
      <form (ngSubmit)="saveEtudiant()">
        <div class="form-group">
          <label>ID:</label>
          <input type="number" name="id" class="form-control" [(ngModel)]="etudiant.id">
        </div>
        <div class="form-group">
          <label>Nom:</label>
          <input type="text" name="nom" class="form-control" [(ngModel)]="etudiant.nom">
        </div>
        <div class="form-group">
          <label>Prenom:</label>
          <input type="text" name="prenom" class="form-control" [(ngModel)]="etudiant.prenom">
        </div>
        <div class="form-group">
          <label>Date de naissance:</label>
          <input type="date" name="date" class="form-control" [(ngModel)]="etudiant.dateNaissance">
        </div>
        <button type="submit" class="btn btn-success">Valider</button>
      </form>
    </div>
  </div>
</div>

