<p></p>
<div class="container " *ngIf="listFormations" >
  <div class="panel panel-primary">
 <div class="panel-heading ">Liste des étudiants</div>
    <div class="panel-body">
      <span *ngFor="let f of listFormations._embedded.formations">
        <button  class="clas" (click)="onGetEtudiants(f)" [ngClass]="f.id==currentFormation.id? 'btn btn-danger':'btn btn-primary' ">
          {{f.nom}}
        </button>
      </span>

      <p></p>
      <table class="table " *ngIf="listEtudiants  ">
        <tr>
          <th>Nom</th><th>Prenom</th><th>Date de naisssance</th>
        </tr>
        <tr *ngFor="let e of listEtudiants._embedded.etudiants">
          <td>{{e.nom}}</td>
          <td>{{e.prenom}}</td>
          <td>{{e.dateNaissance}}</td>
          <td><button  (click)="onPutEtudiant(e)" class="btn btn-primary clas">Edit</button></td>
          <td><button (click)="ondeleteEtudiant(e)" class="btn btn-danger clas"> Delete </button></td>
        </tr>
      </table>
      <button class="btn btn-primary" (click)="addPersonne()"> Ajouter une personne</button>
    </div>
  </div>

</div>


